.App {
  text-align: center;
  background-size: cover;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.App__logo {
  position: absolute;
  margin: 15px;
  left: 0;
}

.App__lives {
  position: absolute;
  margin: 15px;
  right: 0;
}

.App__name-progress {
  font-family: cursive;
  background: lightblue;
  font-size: 50px;
  padding: 10px 30px;
  margin: 0 auto 25px;
  width: 500px;
  border: 5px solid darkblue;
  border-radius: 15px;
}

.App__new-game-button {
  width: 250px;
  margin: 10px auto;
  padding: 8px 18px;
  color: lightgoldenrodyellow;
  background: lightblue;
  background: linear-gradient(lightblue 0%, blue 100%);
  border: 3px solid blue;
  border-radius: 50px;
  font-family: monospace;
  font-size: 36px;
  font-weight: bold;
}

.App__new-game-button:hover {
  color: yellow;
  background: lightcyan;
  background: linear-gradient(lightcyan 0%, darkblue 100%);
  border: 3px solid darkblue;
}

.App__alphabet-letter-button {
  height: 50px;
  width: 50px;
  border-radius: 50px;
  font-size: 25px;
  font-weight: bold;
  margin: 0 auto;
  background-image: radial-gradient(lightcyan, lightblue, deepskyblue);
  border: 3px solid black;
}

.App__alphabet-letter-button:hover {
  background-image: radial-gradient(white, lightgoldenrodyellow, yellow);
}

.App__alphabet-letter-hidden-button {
  height: 50px;
  width: 50px;
  font-size: 25px;
  font-weight: bold;
  margin: auto auto;
  text-align: center;
  line-height: 50px;
  opacity: 0.2;
}

.App__alphabet-letter-container {
  display: grid;
  grid-template-columns: repeat(7, auto);
  grid-gap: 15px;
  width: 500px;
  margin: 25px auto;
}

.App__alphabet-letter-container--display-none {
  display: none;
}
