.App__alphabet-letter-container {
  display: grid;
  grid-gap: 15px;
  grid-template-columns: repeat(7, auto);
  width: 500px;
  margin: 25px auto;

  &--mobile {
    width: 300px;
  }

  &--display-none {
    display: none;
  }
}
