@import 'variables';

.App__new-game-button {
  width: 250px;
  margin: 10px auto;
  padding: 8px 18px;
  background: linear-gradient(lightblue 0%, blue 100%);
  border: 3px solid blue;
  border-radius: 50px;
  font-size: 36px;
  font-weight: bold;
  color: lightgoldenrodyellow;

  &--mobile {
    width: 175px;
    margin: 0 auto;
    font-size: 24px;
  }

  &:hover {
    background: linear-gradient(lightcyan 0%, darkblue 100%);
    border: 3px solid darkblue;
    color: yellow;
  }
}

.alphabet-letter-button {
  width: $letterButtonSize;
  height: $letterButtonSize;
  border-radius: $letterButtonSize;
  font-size: $letterButtonTextSize;
  font-weight: bold;

  &--mobile {
    width: $letterButtonMobileSize;
    height: $letterButtonMobileSize;
    border-radius: $letterButtonMobileSize;
    font-size: $letterButtonMobileTextSize;
  }
}

.App__alphabet-letter-button {
  @extend .alphabet-letter-button;
  margin: 0 auto;
  background-image: radial-gradient(lightcyan, lightblue, deepskyblue);
  border: 3px solid black;

  &--mobile {
    @extend .alphabet-letter-button--mobile;
    border-width: 2px;
  }

  &:hover {
    background-image: radial-gradient(white, lightgoldenrodyellow, yellow);
  }
}

.App__alphabet-letter-hidden-button {
  @extend .alphabet-letter-button;
  margin: auto auto;
  opacity: 0.2;
  line-height: $letterButtonSize;
  text-align: center;

  &--mobile {
    @extend .alphabet-letter-button--mobile;
    line-height: $letterButtonMobileSize;
  }
}
