.App__logo {
  position: absolute;
  left: 0;
  margin: 15px;

  &--mobile {
    width: 80px;
  }
}

.App__status-image--mobile {
  width: 120px;
}

.App__heart--mobile {
  width: 18px;
  height: 18px;
}