.App__name-progress {
  width: 500px;
  margin: 0 auto 25px;
  padding: 10px 30px;
  background: lightblue;
  border: 5px solid darkblue;
  border-radius: 15px;
  font-size: 45px;
  letter-spacing: 6px;

  &--mobile {
    width: 300px;
    margin-bottom: 0;
    padding: 10px;
    font-size: 25px;
    letter-spacing: 3px;
  }
}
